* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;

}

header {
    width: 100%;
    height: 70px;
}

.logo {
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

.contenedorCajatexto {
    padding: 10px 50px 30px 0;
    position: static;
    left: 500px;
    top: 100px;
    padding-left: 80px;
    width: 600px;
    height: 500px;
    resize: none;

}

.cajatexto {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 100px;
    left: 200px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    border-color: #0A3871;
    background-color: #f4f4fc;
    cursor: pointer;
    resize: none;
    text-transform: lowercase;
}

.alerta {
    position: absolute;
    top: 410px;
    left: 200px;
    display: flex;
    color: #495057;
}

.contenedorBotones {
    position: absolute;
    top: 450px;
    left: 250px;
    font-family: 'Inter', sans-serif;
}

.btn-encriptar {
    width: 200px;
    height: 50px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 14px;
    font-weight: 300;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btn-desencriptar {
    width: 200px;
    height: 50px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.container2 {

    position: absolute;
    width: 400px;
    height: 700px;
    top: 90px;
    right: 700px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedorMuneco {
    float: right;
    position: absolute;
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 30px;
}

.contenedorParrafo {
    float: right;
    position: absolute;
    box-sizing: border-box;
    top: 500px;
    left: 40px;
}

.contenedorParrafo h3 {
    padding: 0.5em;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #0A3871;
}

.contenedorParrafo p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    padding-top: 20px;
}

.contenedorResultado {
    top: 80px;
    position: absolute;
    bottom: 330px;
    width: 400px;
    height: 450px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    border-color: #0A3871;
    text-align: center;
}

.contenedorCopiar {
    position: absolute;
    bottom: 400px;
    top: 640px;
    right: 100px;
    background-color: aqua;
    padding-left: 40px;

}

.btn-copiar {
    width: 200px;
    height: 50px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #0A3871;
    cursor: pointer;

}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: #0A3871;
    font-size: 25px;
    font-weight: 300;
}

.ocultar{
    display:none;
}